# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Supabase public
NEXT_PUBLIC_SUPABASE_URL=https://sxdeoslqqaxakgeqsied.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZGVvc2xxcWF4YWtnZXFzaWVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NDI4NTEsImV4cCI6MjA4OTQxODg1MX0.IY_UoTdaPFSEm-tseCooQCg8WJhI2oEJT1_Zs5S6J_8

# Supabase server
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# Blink / génération
BLINK_API_KEY=your_blink_api_key_here

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# Stripe price IDs
NEXT_PUBLIC_STRIPE_PRICE_STARTER_ID=price_xxx_starter
NEXT_PUBLIC_STRIPE_PRICE_PRO_ID=price_xxx_pro
NEXT_PUBLIC_STRIPE_PRICE_BUSINESS_ID=price_xxx_business

# Credits par pack
STARTER_CREDITS=10
PRO_CREDITS=30
BUSINESS_CREDITS=100